body {
  #background-color: powderblue;
  background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 5%;
}

h1 {
  color: #B93160;
}

h2 {
  color: #D75281;
}

h3 {
  color: #D75281;
}
